.floating-icon{
    display: inline-block;
    position: absolute;
    font-size: 5em;
    transform: scale(6) translateX(2px);
    /* transform: rotate(75deg); */
    color: rgba(255, 124, 77, 0.295);
    opacity: .15;
    right: 5%;
    transition: all 0.3s ease-in-out;
}

.animate-icon{
    animation: animateIcon .8s ease-in-out 1s infinite backwards alternate-reverse;
}

@keyframes animateIcon {
    to{
        transform: scale(6) translate(0);
    }
}

@media (width < 768px){
    .floating-icon{
        font-size: 3em;
        transform: scale(4) translateX(2px);
    }

    @keyframes animateIcon {
        to{
            transform: scale(4) translate(0);
        }
    }
}